<?php
namespace App\Http\Controller;

use Core\Controller;
use Core\Http\Router\Route;
use Core\View;

class {{name}}Controller extends Controller
{
    #[Route('/{{route}}', 'GET')]
    public function list(): view
    {
        return $this->view('{{view}}');
    }
}